.box-padding
{
    padding-top:150px; 
}
.box-padding-mini
{
    padding:10px; 
}
.box-blue {
    background: #0099e6;
    height: 800px;    
}
.box-blue-mini {
    background: #0099e6;
     height: 135px;    
}
.box-gold
{
    background: #ffff00;
    margin: 15px;
    height: 50px;    
} 

.box-mini {
    margin: 15px;
    height: 50px;   
}

.box-articulo
{
    margin: 15px;   
}
.box-articulo p
{
    text-align: justify;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 400; 
    line-height: 35px;
    color: #626266;
}

.box-articulo-blue
{
    margin: 15px;   
}

.box-articulo-blue p
{
    text-align: justify;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 500; 
    line-height: 35px;    
    color:#626266;
  
}

.box-articulo-blue h1
{
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 500; 
    color: #4d94ff;
}


.box-articulo strong
{
    text-align: justify;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 500;    
    line-height: 35px;
    color: #626266;
}

.box-articulo h1
{   
  text-align: left;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 500; 
  padding-bottom: 35px;
  color:#626266;
    
}

.box-gold h1
{
  color: #0099e6;
  text-align: left;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 500;
} 

.box-imagen
{
 padding-top: 20px;   
}

.box-mini h1 {
    color: #fff;
    text-align: left;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 500; 
}

.box-mini p {
    color: #fff;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 300; 
}