.row
 .col-xs-12
  article
   h3 Hola «NOM_CLIENTE»,  
   p Estos son los productos que tienes con nosotros:
.row
 .col-xs-12.col-lg-6
  table
   thead
    tr
     th.gray Fecha
     th.gray Descripción
     th.gray Detalle
     th.gray Monto
   tbody
    tr
     td «FC»
     td «FC»
     td «DETALLE»
     td «TOTAL»
    tr
     td «FC»
     td «FC»
     td «DETALLE»
     td «TOTAL»
    tr
     td «FC»
     td «FC»
     td «DETALLE»
     td «TOTAL»
    tr
     td «FC»
     td «FC»
     td «DETALLE»
     td «TOTAL»   
 .col-xs-12.col-lg-6
  .row
    .col-lg-1
    .col-lg-11
        table.border-radius
         thead
            tr
            th.purper(colspan="3") Plan de cuotas de los próximos 3 meses
         tbody
            tr
            td «MES_1»
            td  «MES_2»
            td  «MES_3»
            tr
            td «TOTAL_1»
            td «TOTAL_2"»
            td «TOTAL_3»
    .row
    .col-lg-12
        table.border-radius
         thead
            tr
            th.gold(colspan="3") ¿Como se calcula el pago total y mínimo del mes?
         tbody
            tr
             td  +/- Saldo Anterior
             td  + Interés Revolvente
             td
            tr
             td + Consumo Revolvente
             td + Cargos
             td    
            tr
             td + Consumo Revolvente
             td + Cargos
             td       
