.row
 .col-xs-10
  article
   h3 Hola «NOM_CLIENTE»,  
   p Mira las ofertas que tenemos para ti, con RipleyPuntos:

 .col-lg-2
  .row
    .col-lg-12 Equivalencia 
  .row
    .col-lg-12 Puntos
  .row
    .col-lg-12 5000
  .row
    .col-lg-12  Valor en Soles
  .row
    .col-lg-12  50   
.row
 .col-lg-2
  .row
   .col-lg-12 Puntos Ganados
  .row
   .col-lg-12 310.00
  .row
   .col-lg-12 Puntos Utilizados
  .row
   .col-lg-12 0.00
  .row
   .col-lg-12 Puntos por vencer al 30/04/2018
  .row
   .col-lg-12 0.00
  .row
   .col-lg-12 Puntos Disponibles al 16/03/2018
  .row
   .col-lg-12 2,986.00
  .row
   .col-lg-12
    p Utiliza tus RipleyPuntos para comprar en todas nuestras tiendas, sin catálogos que te limiten. Más detalles en www.ripleypuntos.com.pe
 .col-lg-10    
       