<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
        include ./page_one.pug   
    </div>
    <div class="back">
        include ./page_three.pug   
  </div>
  </div>
</div>