.row
 .col-xs-12.col-lg-3
   .box-blue
    .box-gold
       h1 &nbsp;Noticias  
    .box-mini 
       h1 Hola «TITULAR»,
       p Esta son las noticias del mes.
 .col-xs-12.col-lg-8
  .row
    .col-xs-12.col-lg-6
     .box-articulo 
       h1 SEDAPAL inauguró obras de agua potable y alcantarillado en beneficio de población de Santa Rosa y Ancón
       p El Gerente General de SEDAPAL, Michael Vega
        |  Baltodano, inauguró los servicios de agua potable y
        |  alcantarillado de la segunda etapa del proyecto
        |  Esquema Santa Rosa y Ancón, que beneficia a tres mil
        |  pobladores de las habilitaciones Brisas de Santa Rosa,
        |  del distrito de Santa Rosa y Esteras I Ampliación,
        |  Laderas de Manuel Cox y Alameda de Ancón, de esa
        |  jurisdicción. Indicó que con estas obras la empresa
        |  cumple los compromisos asumidos y se reafirma en el
        |  objetivo de seguir mejorando la calidad de vida de la
        |  población.
    .col-xs-12.col-lg-6
     .row.middle-xs
      .col-lg-12
       div.box-imagen
        img(src="img/news.png" height="550px" width="480px")    
      