.row
 .col-xs-12.col-lg-3
   .box-blue
    .box-gold
       h1 &nbsp;Como leer tu recibo
    .box-mini 
       h1 Hola «TITULAR»,
       p Aqui podras ver el detalle de tu recibo.
 .col-xs-12.col-lg-9
  .row
    .col-xs-12.col-lg-6
     .box-articulo 
       h1 Hola «TITULAR»,
       p 
        |Esta es la forma de leer tu recibo <br />
       strong 1. Información General
       p    
        |Datos del titular e información del tipo de contrato  <br />
       strong 2. Información de Pago / Lectura de Medidor
       p 
        |Fechas de consumo y pago / Cantidad de m3 de agua consumida  <br />
       strong 3. Detalle de la Facturación
       p 
        |Concepto de consumo del recibo  <br />
       strong 4. Evolución de su consumo del agua 
       p Diagrama general del consumo del agua mensual
    .col-xs-12.col-lg-6
     img(src="img/recibo.png" height="550px")  