.row
 .col-xs-12.col-lg-3
   .box-blue
     .box-gold
       h1 &nbsp;Tu recibo
     .box-mini 
       h1 Hola «TITULAR»,
       p Aqui podras ver el detalle de tu recibo
 .col-xs-12.col-lg-8
    .row
      .col-xs-12.col-lg-6
        table
          thead
            tr
              th.purper(colspan="4") En Resumen
          tbody
            tr
              td(colspan="3") Titular de la conexión    
              td Suministro Nº
            tr
              td(colspan="3")  «TITULAR» 
              td «SUMINISTRO» 
            tr
              td Dirección del suministro  
              td(colspan="2")  Distrito
              td Frecuencia de Fact.
            tr
              td «DIRECCION»   
              td(colspan="2")  «DISTRITO»
              td «FREC_FACT»  
            tr
              td(colspan="2") Tarifa   
              td Unidad
              td Tipo de Descarga
            tr
              td(colspan="2") «TARIFA»   
              td «UNIDAD»
              td «TIPO_DESCARGA»  
            tr
              td    
              td  
              td 
              td  
      .col-xs-12.col-lg-6
        table
          thead
            tr
            th.gold(colspan="2") Lo más importante
          tbody
            tr
            td Fecha de Emisión 
            td Lectura del Medidor
            tr
            td «FECHA_EMISION»    
            td «LECTURA_MEDIDOR»
            tr
            td Fecha de Vencimiento  
            td Pago Total del Mes
            tr
            td «FECHA_VENCIMIENTO»  
            td «PAGO_TOTAL_MES» 
            tr
            td   
            td   
    .row
      .col-xs-12.col-lg-6
        table
          thead
          tr
            th.purper(colspan="4") Detalle de la Facturación
          tbody
          tr
            td(colspan="4") Concepto   
          tr
            td(colspan="3")  Volumen de Agua potable 30m3
            td «VOLUMEN»   
          tr
            td(colspan="3")  Servicio de alcantarillado
            td «ALCANTARILLADO»  
          tr  
            td(colspan="3")  Cargo Fijo
            td «CARGO_FIJO»  
          tr
            td(colspan="3") I.G.V. 20.00 x 18%
            td «IGV»  
          tr
            td(colspan="3") Total al pagar 
            td «TOTAL_PAGAR»
          tr
            td    
            td  
            td 
            td  



