.row
 .col-xs-12.col-lg-3
   .box-blue
    .box-gold
       h1 &nbsp;Lugares de pago
    .box-mini 
       h1 Hola «TITULAR»,
       p Aqui podras pagar tu recibo.
 .col-xs-12.col-lg-9
  .row
    .col-xs-12.col-lg-6
      div 
       .box-articulo-blue
        h1 Centros Autorizados que NO te cobran comisión
        p Todos nuestros centro de servicios y Agentes de SEDAPAL.
        h1 Pagos por internet
        p 
          | Interbank / Banbif / Finaciero* / Scotiabank
          | BBVA Continental / Crédito BCP / Falabella.
          | Cargo en Cuenta (Bancos afiliados).
        h1 Centros Autorizados que SI te cobran comisión
        p
          | . BBVA Continental / Banbif / Comercio / Crédito BCP
          |   Financiero* / Interbank / Scotiabank / Agentes BBVA
          |   Agentes Interbank / Agentes Scotiabank /Agentes BCP
          |   (*) Los pagos se actualizan al día siguiente.  
    .col-xs-12.col-lg-5
        img(src="img/maps.png"  height="550px" width="480px")  