.clear-backend
  .avatar
    div
  input.tab-1(type='radio' name='tab' checked='checked')
  span
    i.fa.fa-file-text-o
    br
    |  Tu recibo
  input.tab-2(type='radio' name='tab')
  span
    i.fa.fa-history
    br
    |  Historial Consumo
  input.tab-3(type='radio' name='tab')
  span
    i.fa.fa-newspaper-o
    br
    |  Noticias
  input.tab-4(type='radio' name='tab')
  span
    i.fa.fa-phone
    br
    |  Aquafono
  input.tab-5(type='radio' name='tab')
  span
    i.fa.fa-comment
    br
    |  Chat en L&iacute;nea
  input.tab-6(type='radio' name='tab')
  span
    i.fa.fa-search
    br
    |  Como leer tu recibo
  input.tab-7(type='radio' name='tab')
  span
    i.fa.fa-map-marker
    br
    |  Lugares de pago
  .top-bar
    .row
      .col-lg-3
       .box-blue-mini
      .col-lg-9
        .row
          .col-lg-8
          .col-lg-2
            div.box-padding-mini
            //-  img(src="img/admin.png" height="90px")
  //- .tab-content
  //-   section.tab-item-1
  //-     include ./page_one.pug   
  //-   section.tab-item-2
  //-     include ./page_two.pug 
  //-   section.tab-item-3
  //-     include ./page_three.pug 
  //-   section.tab-item-4
  //-     include ./page_four.pug 
  //-   section.tab-item-5
  //-     include ./page_five.pug 
  //-   section.tab-item-6
  //-     include ./page_six.pug 
  //-   section.tab-item-7
  //-     include ./page_seven.pug 
//-   .copyright
//-     p
//-       | Dise&ntilde;ado por 
//-       a(href='https://weibo.com/518501269' target='_blank' rel='nofollow') Miguel B&aacute;ez
